body {
    font-family: "Arial", sans-serif;
    font-size: 2em;
    counter-reset: qNumber;
}
h1::before {
    counter-increment: qNumber;
    content: "№" counter(qNumber) " ";
}

.liBefore {
    cursor: pointer;
}
.liBefore:hover {
    background: lightyellow;
}
.liJulik:hover {
    cursor: pointer;
    background: red;
    color: white;
}
.liAfter {
    background: white;
}

#resDiv {
    width: 200px;
    height: 70px;
    background: blue;
    color: yellow;
    text-align: center;
    margin: auto;
}
.murkyBtn {
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    height: 45px;
    width: 185px;
    background: black;
    color: orange;
    border: 3px solid red;
    border-radius: 15px;
    display: inline-block;
}

.murkyBtn:hover {color: #72c1e6;}
.murkyBtn:active {color: white}

td {
    text-align: center;
}


#julikDiv {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 20px;
    background-color: black;
    color: blue;
    font-size: small;
}

#hideDiv {
    background: rgba(255, 0, 0, 0.07);
    height: 60px;
    width: 60px;
}