table, td {
    border: 1px solid;
    border-collapse: collapse;
}

div.aligneDiv{
     position: absolute;
     left : 50%;
     top: 50%;
     transform: translate(-50%, -50%);}

td:hover {background-color: lightyellow ;}

.X {color: red;}

.O {color: blue;}

pre {font-size:4.5em;}

pre > table { width:200px; height:200px; text-align:center;}

table.tableClass {border: 3px solid; outline: 2px solid black;}

table.tableClassX {outline-color:red;}

table.tableClassO {outline-color:blue;}


.murkyBtn {
    cursor: pointer;
    height: 60px;
    width: 60px;
    background: black;
    color: orange;
    border: 3px solid red;
    border-radius: 15px;
    display: inline-block;
    font-size: 2.7em;
    margin-bottom: 5px;
}

